body{
    margin: 0;
    padding: 0;
    display: flex;
}


.flexV{
    display: flex;
    flex-flow: column;
}

#sideimg{
    height: 100vh;
    width: 60vh;
    position: relative;
}

#sidecap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 560px;
    height: 150px;
    background-color: black;
    
    left: 0rem;
    top: 20rem;
}

#sidecap>p{
    color: whitesmoke;
}