@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro-Regular.woff2') format('woff2'),
        url('/fonts/SourceCodePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChunkFive';
    src: url('/fonts/ChunkFive-Regular.woff2') format('woff2'),
        url('/fonts/ChunkFive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h2{
    font-size: 30px;
    font-family: 'ChunkFive', serif;
    color: darkgreen;
}

h2, .largeText, .logIn{
    
    padding-left: 30px;
}

button{
    margin-left: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Source Code Pro', serif;
    border: solid 3px rgb(158, 206, 158);
    border-radius: 20px;
    color: rgb(28, 36, 23);
    background-color: rgb(158, 206, 158);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: darkcyan;
}

a:visited{
    color: rgb(0, 22, 0);
}




.left{
    background-color: red;
    
    height: 940px;
    flex: 1 2 0;
    position: relative;
    background-image: url(/imgs/waterfall.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.right{
    background-color: whitesmoke;
    width: 500px;
    height: 100vh;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*left side bs*/

.sideImg{
    max-height: 100%;
    min-height: 0;
    max-width: 100%;
    min-width: 0;
}

.sidecapBg{
    background-color: white;
    opacity: 70%;
    width: 100%;
    height: 13%;
    flex: 1 2 0;
    position: relative;
    margin: 200px 0px 0px 0px;
    
}

.sidecapHolder{
    width: 100%;
    height: 13%;
    flex: 1 1 0;
    position: absolute;
    top: 200px;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 200px;
}

.sidecapText{
    font-family: 'ChunkFive', Serif;
    max-width: 50px;
    max-height: 50px;
    font-size: 35px;
}

.sidecapLogo{

    height: 100px;
    
}

/*right side bs*/

.largeText{
    font-size: 25px;
    font-family: 'Source Code Pro', serif;
}

.flex{
    display: flex;
    flex-flow: column;
    font-family: 'Source Code Pro', serif;
    font-size: 20px;
}

.flex label, .logIn{

    color: darkgreen;

}

.flex input{
    font-size: 1rem;
    border: rgb(3, 17, 17) solid 2px;
    padding: 5px;
    border-radius: 20px;

}

input:user-invalid{
    border: darkred solid 2px;
    transition: 1s;
}

input:user-valid{
    border: rgb(15, 175, 0) solid 2.5px;
    transition: 1s;
}

input:focus{
    box-shadow: 3px 3px 10px  grey;
    outline: none;
    border: rgb(6, 109, 104) solid 2px;
    transition: 0.5s;
}

.backgroundForm{
    background-color: white;
    box-shadow: 0px 2px 3px grey;
}

.cleanForm{
    
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 600px;
    margin: 0px 0px 20px 0px;
    gap: 50px 40px;
    padding: 20px 100% 20px 0px;
    justify-content: space-around;
    font-size: 1rem;
    
}


.logIn{
    font-size: 1.5rem;
    font-family: 'Source Code Pro', serif;
}



