@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro-Regular.woff2') format('woff2'),
        url('/fonts/SourceCodePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChunkFive';
    src: url('/fonts/ChunkFive-Regular.woff2') format('woff2'),
        url('/fonts/ChunkFive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}


.left{
    background-color: red;
    width: 500px;
    flex: 1 2 0;
    background-image: url(/imgs/waterfall.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right{
    background-color: whitesmoke;
    width: 500px;
    height: 100vh;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sideImg{
    max-height: 100%;
    min-height: 0;
    max-width: 100%;
    min-width: 0;
}

.flex{
    display: flex;
    flex-flow: column;
    font-family: 'Source Code Pro', serif;
}

.flex label{

    color: darkgreen;

}

.backgroundForm{
    background-color: white;
}

.cleanForm{
    
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 600px;
    margin: 0px 0px 20px 0px;
    gap: 50px 40px;
    padding: 20px 100% 20px 0px;
    justify-content: space-around;
    font-size: 1rem;
    
}

