body{
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

/* Classes */

.flexV{
    display: flex;
    flex-flow: column;
}

/* Ids */

#sideimg{
    height: 935px;
    width: 560px;
    position: relative;
    background-size: cover;
}

#logo{
    position: absolute;
    width: auto;
    height: 100px;
    left: 350px;
    top: 115px;
}

#sidecap, #sidecapT{
    color: whitesmoke;
    position: absolute;
    
    
}

#sidecap{
    opacity: 70%;
    background-color: white;
    width: 560px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 100px;
}

#sidecapT{
    left: 50px;
    top: 60px;
    color: darkcyan;
    font-size: 5rem;
    font-weight: 500;
}

