@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Regular.woff2') format('woff2'),
        url('SourceCodePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChunkFive';
    src: url('ChunkFive-Regular.woff2') format('woff2'),
        url('ChunkFive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

